/* Default syles for mobile */
body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    font-weight: 400;
    font-style: normal;
    font-family: ITC Garamond W01 Light,serif;
    background: #ededed;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
    justify-items: center;
}

h1 {
    font-family: adobe-garamond-pro,Garamond,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 120px;
    color: #000;
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-family: ITC Garamond W01 Light,serif;
    color: #000;
    text-align: left;
}

#Headshot {
    grid-area: 2 / 1 / span 1 / span 1;
}

article {
    grid-area: 3 / 1 / span 1 / span 2;
}

/* Styles for tablets */
@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    h1 {
        grid-area: 1 / 2 / span 1 / span 1;
    }
    
    #Headshot {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    
    article {
        grid-area: 2 / 2 / span 1 / span 2;
    }
}

/* Styles for laptops and bigger */
@media (min-width: 1024px) {
    h1 {
        grid-area: 1 / 1 / span 1 / span 3;
    }
}